registry=http://registry.m.jd.com/
disturl=http://npm.m.jd.com/mirrors/node/
sass_binary_site=http://npm.m.jd.com/mirrors/node-sass/
phantomjs_cdnurl=http://npm.m.jd.com/mirrors/phantomjs/
electron_mirror=http://npm.m.jd.com/mirrors/electron/
chromedriver_cdnurl=http://npm.m.jd.com/mirrors/chromedriver
operadriver_cdnurl=http://npm.m.jd.com/mirrors/operadriver
selenium_cdnurl=http://npm.m.jd.com/mirrors/selenium
node_inspector_cdnurl=http://npm.m.jd.com/mirrors/node-inspector
fsevents_binary_host_mirror=http://npm.m.jd.com/mirrors/fsevents/
